.about {
    & .title {
        margin-bottom: 70px;
    }
    padding: 90px 0;
    & .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .about {
        padding: 0 0 90px 0;
    }
}