section.clients#clients
    .container
        h2.title Clients
        .clients__items
            .clients__item
                img(src="img/clients/ms.png", alt="Microsoft")
            .clients__item
                img(src="img/clients/sumsung.png", alt="Sumsung")
            .clients__item
                img(src="img/clients/imb.png", alt="IBM")
            .clients__item
                img(src="img/clients/google.png", alt="Google")