section.expert#expert
    .container
        h2.title Expert In
        .expert__items
            .expert__item
                span.expert__icon
                h4.expert__iconTitle MOBILE APP DESIGN
                p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                    | veniam, quis nostrud exercitation.
            .expert__item
                span.expert__icon
                h4.expert__iconTitle WEB DESIGN
                p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                    | veniam, quis nostrud exercitation.
            .expert__item
                span.expert__icon
                h4.expert__iconTitle WEB DEVELOPMENT
                p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                    | veniam, quis nostrud exercitation.
            .expert__item
                span.expert__icon
                h4.expert__iconTitle PRODUCT DESIGN
                p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                    | veniam, quis nostrud exercitation.
            .expert__item
                span.expert__icon
                h4.expert__iconTitle UX & UI
                p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                    | veniam, quis nostrud exercitation.
            .expert__item
                span.expert__icon
                h4.expert__iconTitle ANIMATIONS
                p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim 
                    | veniam, quis nostrud exercitation.