section.works#works
    .container
        h2.title Latest Works
        .works__items
            .works__item
                a(href="#")
                    img(src="img/works/work1.png", alt="work1")
            .works__item
                a(href="#")
                    img(src="img/works/work2.png", alt="work2")
            .works__item
                a(href="#")
                    img(src="img/works/work3.png", alt="work3")
            .works__item
                a(href="#")
                    img(src="img/works/work4.png", alt="work4")
            .works__item
                a(href="#")
                    img(src="img/works/work5.png", alt="work5")
            .works__item
                a(href="#")
                    img(src="img/works/work6.png", alt="work6")